body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
li{
    list-style-type:none;
}
a{
    text-decoration: none;
    color:#E5E7EB;
}
.header{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
}
.logo{
    font-family: cursive,sans-serif;
    color: #F9FAF8;
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:10px 0 0 70px;
}
.header-links{
    font-family: Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-size: 18px;
    padding:10px 70px 0 0;
}

.hero{
    display: flex;
    flex-direction: row;
    padding: 40px 70px 0 70px;
    background-color: #1F2937;
    justify-content: space-between;
    flex:1;
    padding-bottom: 70px;
}

.hero-text{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding:25px;
}

.hero-main{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 1000;
    display: flex;
    flex:1;
    flex-wrap: wrap;
}

.hero-secondary{
    font-size:18px;
    color: #F9FAF8;
    font-weight: 400;
    display: flex;
    flex:1;
}

.hero-image{
    display: flex;
    width: fit-content;
    height: auto;
    justify-content:flex-end;
    flex-shrink: 1;
}

img {
    max-inline-size: 100%;
    block-size:auto;
}

.signup{
    background-color: #3882F6;
    padding:4px;
    width:fit-content;
    font-size: 20px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    flex:1 1 1;
    border-radius:10px;
}

.random-heading{
    font-size: 36px;
    font-weight: 700;
    display: flex;
    flex: 1;
    justify-content: center;
    padding:50px 0 50px 0;
}

.container{
    display: flex;
    justify-content: center;
    gap: 52px;
    padding:0 50px 50px 50px;
}

.text{
    display: flex;
    flex-wrap: wrap;
}

.rcorners{
    border-radius: 25px;
    border: white;
    width: 150px;
    height: 150px;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding:50px 100px 50px 100px;
    font-family: Verdana, sans-serif;
}
.line{
    display: flex;
    justify-content: center;
    padding:10px;
    color: #1F2937;
    font-style: italic;
}
.person{
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
}
.action{
    background-color: #3882F6;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    margin:70px 100px 70px 100px;
    padding:40px 70px 40px 70px;
    border-radius: 15px;
}
.action-bold{
    font-size: 18px;
    font-weight: 600;
}

.footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px 0 20px 0;
    color:#E5E7EB;
}
